{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top vh-100" style="background: linear-gradient(to bottom, rgba(255,244,244,0) 90%, rgba(255,244,244,1) 100%), url('{{ $featured_image }}');">
    <div>
      {{ partial "site-navigation.html" .}}
      <div class="tc-l pv4 pt5-l pb7-l ph3 ph4-ns">
        <h1 class="f1 f-subheadline-l fw2 black-85 mb0 lh-title site-header">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="normal f3-l black-85 measure-wide-l center mt3">
            {{ . }}
          </h2>
        {{ end }}
        {{ with .Params.jobs }}
          <h3 class="normal f4 black-85 measure-wide-l center mt3">
            {{ . }}
          </h3>
        {{ end }}
        {{ with .Params.interests }}
          <h3 class="normal f4 black-85 measure-wide-l center mt3">
            {{ . }}
          </h3>
        {{ end }}
        {{ with .Params.next_page }}
          <a href="{{ . }}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f5 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f1 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l black-85 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
        {{ with .Params.jobs }}
          <h3 class="fw1 f5 black-85 measure-wide-l center mt3">
            {{ . }}
          </h3>
        {{ end }}
        {{ with .Params.interests }}
          <h3 class="fw1 f5 black-85 measure-wide-l center mt3">
            {{ . }}
          </h3>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
