.site-header {
    font-family: 'Alex Brush', cursive;
}

.site-body {
    font-family: 'Source Serif Pro', serif;
}

.part-title {
    font-family: 'Alex Brush', cursive;
}

.bg-all-site {
    background-color: #FFF4F4;
}

